body{
    background-color: beige;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTnZjoPJr2i9OOktpfBoSKKWl39wPIVbStoSWyf-0C9JWgu2w6");
}
.start-button {
    position: relative;
    left: 44.5%;
}

.container-choices {
    background-color: white;
    width: 40%;
    position: relative; 
    left: 28%;
    text-align: center;
    border-radius: 5px;
    /* padding: 20px;  */
}


.list-group{
    width: 40%;
    position: relative; 
    left: 28%;
    text-align: center;
}
.display-4 {
    color: #355e3b;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 15px;
    border-bottom-color: black;
}

.lead {
    text-align: center;
    width: 100%;
    color: #355e3b;
    font-weight: bold;
    font-size: 15px; 
}

.container-footer {
    position: relative;
    height: 30px;
    bottom: 0px;
    width: 100%;
    background-color: #e9ecef;
    font-size: 10px;
    text-align: center;
    
}

#submit-button {
    position: relative;
    left: 45.5%;
}